

<div class="card col d-flex justify-content-center align-content-center align-self-center mt-5">

  <button class="btn btn-success success mb-5 pt-3 pb-3" (click)="back()">
<!--    <i class="bi bi-arrow-left"></i>-->
<!--    <br>-->
    Retour à la recherche</button>


  <ngb-carousel  #carousel [interval]="5000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus" (slide)="onSlide($event)">
    <ng-template ngbSlide *ngFor="let img of product.pictures">

      <!--      Mettre un onclick et agrandir l'image-->
      <!--      <a href="#" class="pop">-->
      <div style="height: 200px;background: #F6F6F6" class="picsum-img-wrapper">
        <img  [src]="img">
      </div>
      <!--      </a>-->

    </ng-template>
  </ngb-carousel>



  <div class="card-body">

    <h5 class="card-title text-center ">
      <span *ngIf="product.title; else na">
        {{product.title}}
      </span>
    </h5>


    <h5 class="card-title d-flex justify-content-center">
      <span *ngIf="product.price; else na">
        {{product.price | currency: '€':'symbol':'1.0-2'}}
      </span>
    </h5>

    <p class="card-text d-flex justify-content-center">
      <ng-container [ngSwitch]="true">
        <span *ngSwitchCase="product.quantity === 1" class="stock-rare">Stock : objet unique</span>
        <span *ngSwitchCase="product.quantity === 0" class="stock-non-disponible">Stock : non disponible</span>
        <span *ngSwitchDefault class="stock-normal">Stock : {{product.quantity}}</span>
      </ng-container>
    </p>

    <p class="card-text span2 mb-2"> Description du produit :</p>
      <span class="mt-2 mb-2" *ngIf="product.description; else na"> {{product.description}} </span>


    <p class="card-text d-flex justify-content-center">
      <button class="btn btn-primary col-6 mt-2 mb-1 align-self-center">Ajouter au panier</button>
    </p>




    <p class="card-text span">Vendu par :
      <a *ngIf="product.creator.firstName; else na">
        {{product.creator.firstName}}
      </a>
    </p>



    <div class="mt-2 d-flex flex-row flex-wrap justify-content-center align-items-center">
      <div *ngFor="let tag of product.listTags;">
        <a class="tag m-1" *ngIf="tag.title; else na">
          {{tag.title}}
        </a>
      </div>

    </div>

  </div>



</div>






<ng-template #na>Non renseigné</ng-template>

