

  <div class="container-img">
    <img src="/assets/img/marek-piwnicki-s0PD-FogBjo-unsplash.jpg">
  </div>

  <div class="p-5 container-txt-center d-flex flex-column justify-content-center align-content-center">
    <h2>Découvrez des nouveautés !</h2>

    <p class="col-6">RPG Store vous accompagne et vous propose une offre globale de produits sur mesure.</p>
    <p class="col-6">Notre expertise vous offre une vision complète de vos arsenals pour améliorer la qualité et la performance de vos combats
    </p>

    <p class="col-6">
      RPG Store est composé de divers vendeurs, armuriers et apothicaires tous experts dans les domaines des armes, du combat, de la forge, de la science des potions et de la magie.
    </p>

    <p class="col-6">Nous vous accompagnons dans la commande de vos objets mais aussi dans la recherche de la qualité. Nos experts peuvent également vous accompagner dans l'adaptation aux nouvelles tendances de la mêlée.</p>

    <p class="col-6">
      Nous proposons des solutions qui s'adaptent à vos besoins et à vos objectifs.
    </p>

    <p class="col-6">
      Chaque année des clients nous font confiance.
      <br>
      Pourquoi pas vous ?
    </p>

    <a class="btn btn-lg btn-primary col-6" href="/products">Explorez les offres de produits !</a>
  </div>





<section class="d-flex flex-column col-12" id="#offres">

  <div class="container-txt-center d-flex flex-row justify-content-start align-content-left col-12">
    <div class="bloc container-img col-5"><img src="/assets/img/c-d-x-uHSiDTptzV4-unsplash.jpg" alt=""></div>
    <div class="col-6 m-5"><h2>Les armes</h2>
      <p>Chaque client est unique, chaque prestations et besoins sont sur-mesure. Les armes représentent l'élément le plus déterminant dans l'amélioration du niveau d'un personnage.</p>
      <p>Nos armes sont forgées et fabriquées par les meilleurs forgerons virtuels expérimentés.
        <br>
        Certaines armes sont uniques et n'existent nul part ailleurs, alors ne tardez pas trop pour trouver votre compagnon de bataille !
      </p>
      <p>Le réarmement est un examen méthodique de votre structure de combat, une vision à 360° de votre équipement, des différentes panoplies de défense fait par une équipe de professionnels qui dresse un constat objectif et permet d'identifier ce qu'il vous manque dans le feu de l'action.</p>
      <a class="btn btn-lg btn-primary col-6" href="/tags/arme">Trouver mon compagnon de bataille</a>
    </div>
  </div>

  <div class="container-txt-center d-flex flex-row justify-content-end align-content-center col-12">
    <div class="col-6 m-5"><h2>Les protections</h2>
      <p>Chaque client est unique, chaque prestations et besoins sont sur-mesure. La protection représente l'élément le plus important lors des combats.</p>
      <p>Nos armures sont forgées et fabriquées par les meilleurs professionnels du marché.
        <br>
        Certaines armures sont uniques et n'existent nul part ailleurs, alors ne tardez pas trop pour trouver votre arsenal de bataille !
      </p>
      <p>Le réarmement est un examen méthodique de votre structure de combat, une vision à 360° de votre équipement, des différentes panoplies de défense fait par une équipe de professionnels qui dresse un constat objectif et permet d'identifier ce qu'il vous manque dans le feu de l'action.</p>
      <a class="btn btn-lg btn-primary col-6" href="/tags/protection">Me protéger</a>
    </div>
    <div class="bloc container-img col-5"><img src="/assets/img/nik-shuliahin-JOzv_pAkcMk-unsplash.jpg" alt=""></div>
  </div>

  <div class="container-txt-center d-flex flex-row justify-content-start align-content-center col-12">
    <div class="bloc container-img col-5"><img src="/assets/img/istockphoto-1033931010-612x612.jpg" alt=""></div>
    <div class="col-6 m-5"><h2>Les potions</h2>
      <p>Chaque potion est unique, chaque prestations et besoins sont sur-mesure. Les potions représentent l'élément le plus important dans l'amélioration des stats de bataille.</p>
      <p>Nos potions sont fabriquées par les meilleurs et les plus anciens apothicaires du marché.
        <br>
        Certaines potions sont en édition limitée et ne seront pas refaites avant des années, alors ne tardez pas trop pour trouver vos petites fioles de combat !
      </p>
      <p>Le réaprovisionnement de potion est un examen important de votre équipement, des différents effets de stats, de défense ou d'attaque peuvent permettre de renverser le combat à tout moment !</p>
      <a class="btn btn-lg btn-primary col-6" href="/tags/potion">Trouver des potions</a>
    </div>
  </div>

</section>






