<h2>Filtrer par prix :</h2>
<button type="button" class="btn btn-primary" (click)="price('asc')">Croissant</button>
<button type="button" class="btn btn-primary" (click)="price('desc')">Décroissant</button>

<h2>Filtrer par rareté :</h2>
<button type="button" class="btn btn-primary" (click)="rare('all')">Tous</button>
<button type="button" class="btn btn-primary" (click)="rare('common')">Commun</button>
<button type="button" class="btn btn-primary" (click)="rare('uncommon')">Non Commun</button>
<button type="button" class="btn btn-primary" (click)="rare('rare')">Rare</button>
<button type="button" class="btn btn-primary" (click)="rare('legend')">Légendaire</button>

<h2>Rechercher par tag :</h2>
<form class="form-inline md-form form-sm">
  <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search" mdbInput>
</form>
